{% extends 'indexuser.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/addcomplaintttt">
  <div style="width:60%;">
  <table width="200" border="1" id="customers">

     <tr>
       <th colspan="2"><div align="center" ><h2>Add Complaint</h2></div>&nbsp;</th>
    </tr>
    <tr>
      <th>complaint</th>
      <td><label>
        <input type="text" name="textfield" required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="add" />
          </div>
      </label></th>
    </tr>
  </table>
  </div>
</form>
{% endblock %}
